html {
	background: radial-gradient(farthest-corner at right top,#bcb4e2, #f7bed0);
	height: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteudo {
	padding: 10vh 3em 0;
	display: flex;
	align-items: flex-start;
	gap: 2em;
}
.principal {
    flex-grow: 1;
	flex-basis: auto;
	min-width: 300px;
	padding: 20em 2em 2em;
	box-sizing: border-box;
	display: flex;
	background: #703053;
	border-radius: 10px;
	gap: 2em;
}

.principal h1 {
    color: #FFFFFF;
    font-size: 2em;
    margin: 0 0 0.5em;
}
.principal p {
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0 0 1em;
}

.exercicio:after {
    margin-left: 67px;
    margin-top: -30px;
    background: #cca16a;
    width:26px;
    height:26px;
    border: 3px solid #491033;
    border-radius: 3px;
    transform: rotate(45deg);
}
.adicionar {
    width: 50%;
}
.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #3d1e3c;
}
.adicionar label {
    display: block;
}
.cadastrar {
    background-color: #3d1e3c;
    color: #FFFFFF;
    cursor: pointer;
}
.lista {
    margin: 0;
    padding: 0;
}
.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 1px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}
.item strong {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #b16e93;
    font-weight: 400;
}
.exercicio {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.exercicio button {
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    border-radius: 5px;
}

